 <section id="weapon-select" class="card card--element">
      <div class="card__prompt">
        <div>Choose your Element</div>
        <div>
          <a class="card__back btn btn--small"
             href="#"
             previous="card--class">
            <span class="btn__prompt">&lt;</span>
            <span class="btn__text">Back</span>
          </a>
        </div>
      </div>

       <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="card__button" cardType="element">
          <a class="class__link btn btn--big btn--blue" href="#">
            <span class="btn__prompt">></span>
            <span class="btn__text">Water</span>
          </a>
        </div>

        <div class="card__button" cardType="element">
          <a class="class__link btn btn--big btn--blue" href="#">
            <span class="btn__prompt">></span>
            <span class="btn__text">Wind</span>
          </a>
        </div>

        <div class="card__button" cardType="element">
          <a class="class__link btn btn--big btn--blue" href="#">
            <span class="btn__prompt">></span>
            <span class="btn__text">Fire</span>
          </a>
        </div>

        <div class="card__button" cardType="element">
          <a class="class__link btn btn--big btn--blue" href="#">
            <span class="btn__prompt">></span>
            <span class="btn__text">Earth</span>
          </a>
        </div>

        <div class="card__button" cardType="element">
          <a class="class__link btn btn--big btn--blue" href="#">
            <span class="btn__prompt">></span>
            <span class="btn__text">Arcana</span>
          </a>
        </div>

      </div>

      <div class="card__button">
        <a class="card__link btn btn--big btn--orange"
           href="#"
           next="card--battleground">
          <span class="btn__prompt">></span>
          <span class="btn__text" id="startGame">Defeat your enemies</span>
        </a>
      </div>
</section>