{{!-- player stats --}}
<div id="playerStats"></div>
<div id="compStats"></div>

{{!-- player attack notifications --}}
<div id="playerCommand">
<div id="compCommand"></div>

{{!-- player images --}}
<img id="playerImg" src=""/>
<img id="compImg" src=""/>