<section id="player-setup" class="card card--name">
  <div class="card__prompt">
    <div>What is your name?</div>
    <div class="field">
      <input type="text" autofocus="true" id="player-name" class="field__textinput">
    </div>
  </div>

  <div class="card__button">
    <a class="card__link btn btn--big btn--orange"
       href="#"
       next="card--species">
      <span class="btn__prompt">></span>
      <span class="btn__text">Select Species</span>
    </a>
  </div>
</section>