@import url(https://fonts.googleapis.com/css?family=Inconsolata:700);
body {
  font-family: "Inconsolata", "Helvetica", "sans-serif";
  margin: 0;
  padding: 10px;
  font-size: 3em;
  background-image: url("../styles/pics/backgroundImage.jpg");
  background-size: cover;
  color: #980000; }

#gameName {
  font-size: 3em;
  font-family: "Inconsolata", "Helvetica";
  color: #980000;
  text-align: center;
  text-shadow: 2px 2px #fff;
  margin: 0; }

.btnStyle {
  font-family: Courier New;
  color: #ff0000;
  font-size: 20px;
  background: #393b3d;
  padding: 10px 20px 10px 20px;
  text-decoration: none; }

.btnStyle:hover {
  background: #fafdff;
  text-decoration: none; }

input {
  background-color: #393b3d;
  color: #ff0000;
  font-family: "Inconsolata", "Helvetica"; }

.field {
  margin: 20px 0 0 0; }

.field__textinput {
  font-size: 1em;
  padding: 15px 0;
  text-align: center;
  min-width: 500px; }

/*
  Section styles
 */
.card {
  display: none; }

.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }

.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center; }

div.selected a span.btn__text {
  color: black; }

/*
  Button styles
 */
.btn--big {
  font-size: 28px;
  padding: 10px;
  font-weight: 400; }

.btn--small {
  min-width: 50px; }

.btn__prompt {
  background-color: white;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: -10px;
  font-weight: 600;
  background-color: #333;
  opacity: .4;
  border-radius: 5px 0 0 5px;
  left: 37px;
  float: left; }

.btn__text {
  padding: 0 50px 0 20px;
  border-radius: 0 5px 5px 0; }

.btnStyle {
  font-family: Courier New;
  color: #ff0000;
  font-size: 20px;
  background: #393b3d;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 3px solid black;
  font-weight: bold;
  font-family: "Inconsolata", "Helvetica"; }

.btnStyle:hover {
  background: #fafdff;
  text-decoration: none; }

.backBut {
  margin-bottom: 50px; }

.forwardBut {
  margin-top: 100px; }

#gameboard p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #980000;
  text-shadow: 1px 1px #000; }

#playerStats, #compStats, #playerCommand, #compCommand {
  display: inline-block;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3); }

#playerStats {
  top: 0;
  left: 0; }

#compStats {
  top: 0;
  right: 0; }

#playerCommand {
  bottom: 0;
  left: 0; }

#compCommand {
  bottom: 0;
  right: 0; }

#playerImg, #compImg {
  width: 300px;
  height: 300px; }

.health {
  font-weight: bold;
  color: white; }

img.die {
  height: 40px;
  width: 40px;
  border: 3px solid black;
  background-color: red; }

img.die.selected {
  border: 3px solid white;
  background-color: black; }

@-webkit-keyframes dice {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(0.95); }
  100% {
    -webkit-transform: scale(1); } }
img.die.selected {
  -webkit-animation: dice 1000ms linear infinite;
  -webkit-transform-origin: 50% 50%; }

.exampleDie {
  max-height: 30px;
  max-width: 30px;
  display: inline-block;
  border: 3px solid white; }

#rules {
  text-align: center;
  font-size: 10px;
  position: fixed;
  display: none;
  top: 10%;
  left: 20%;
  right: 20%;
  bottom: 10%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
  max-height: 80%;
  max-width: 80%;
  overflow: scroll;
  border: 2px solid white; }

#rules h2 {
  font-size: 30px; }

#rules h3 {
  font-size: 25px; }

#rules p {
  font-size: 20px;
  display: inline-block; }

#toggleRules {
  position: fixed;
  bottom: 0;
  left: 0; }

.flame {
  width: 100px;
  height: 100px; }

/*# sourceMappingURL=main.css.map */
